@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed;
    width: 150px;
    height: 100%;
    background: #e9eef0;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 30px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 2px;
}
.navigation ul h2 {
    font-size: 16px;
    color: rgb(82, 78, 78);
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover {
    background: #03a9f4;
}
.navigation ul li:nth-child(1){
    margin-bottom: 10px;
}
.navigation ul li:nth-child(1):hover {
    background: transparent;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(82, 78, 78);
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.navigation ul li a .icon .fa {
    color: rgb(82, 78, 78);
    font-size: 16px;
}
.brand-icon {
    font-size: 16px;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

.main {
    position: absolute;
    width: calc(100% - 150px);
    left: 150px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 30px);
    left: 30px;
}
.main .topbar {
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle .toggle-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label {
    position: relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
}
.search label .search-icon {
    position: absolute;
    left: 15px;
    top: 4px;
}
.topRight {
    display: flex;
    align-items: center;
}
.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.user {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.cardBox .card {
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 400;
}
.cardBox .card .cardName {
    color: #999;
}
.cardBox .card .iconBox {
    font-size: 1.5em;
    color: #03a9f4;
}

/*For chart */
.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    min-height: 200px;
}
.graphBox .box {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
}
.details .recentOrders {
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
}
.btn {
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td {
    font-weight: 600;
}
.details .recentOrders table tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tbody tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
    background: #03a9f4;
    color: #fff;
}
.details .recentOrders table tr td {
    padding: 9px 5px;
}
.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child {
    text-align: right;
}
.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table thead tr td:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}
.details .recentOrders table thead tr td:nth-child(3),
.details .recentOrders table thead tr td:nth-child(3) {
    text-align: right;
}
.status {
    position: relative;
    padding: 2px 4px;
    background: red;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.delivered {
    background: green;
}
.pending {
    background: #f9ca3f;
}
.return {
    background: red;
}
.inprogress {
    background: #1795ce;
}

.details .recentCustomers {
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.details .recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.details .recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details .recentCustomers table tr td h4 span {
    font-size: 14px;
    color: #999;
}
.details .recentCustomers table tr:hover,
.details .recentCustomers table tr:hover td h4 span {
    background: #03a9f4;
    color: #fff;
}
.details .recentCustomers table tr td {
    padding: 7px 10px;
}
.details .recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

/*Responsiveness*/
@media (max-width: 992px) {
    .graphBox{
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-weight: 600;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .details .recentOrders {
        overflow: auto;
    }
    .details .recentOrders table {
        width: 600px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle.active {
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }
    .toggle.active::before {
        color: #fff;
    }
    .main,
    .main.active {
        width: 100%;
        left: 0;
    }
}